In [1]:
!wget https://www.spataru.at/students/course_files/week4/loan.csv

--2022-09-19 12:16:43--  https://www.spataru.at/students/course_files/week4/loan.csv
Resolving www.spataru.at (www.spataru.at)... 81.19.159.92
Connecting to www.spataru.at (www.spataru.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38013 (37K) [text/csv]
Saving to: ‘loan.csv’

loan.csv            100%[===================>]  37.12K  --.-KB/s    in 0.03s

2022-09-19 12:16:43 (1.19 MB/s) - ‘loan.csv’ saved [38013/38013]

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from  sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import *
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier, plot_tree
import plotly.express as px

In [14]:
df = pd.read_csv("loan.csv")

# EDA

In [15]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [16]:
df = df.drop(["Gender", "Loan_ID"], axis=1)

In [8]:
df.shape

(614, 11)

In [17]:
df.Loan_Status.value_counts(True)

Y    0.687296
N    0.312704
Name: Loan_Status, dtype: float64

In [21]:
df.groupby("Loan_Status").mean()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
Loan_Status,,,,,
N,5446.078125,1877.807292,151.220994,344.064516,0.541899
Y,5384.068720,1504.516398,144.294404,341.072464,0.981818

In [25]:
imputer = SimpleImputer(strategy="median")

In [32]:
numerical_missing = ["LoanAmount", "Loan_Amount_Term", "Credit_History"]

In [39]:
df.isna().sum()

Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [34]:
df[numerical_missing] = imputer.fit_transform(df[numerical_missing] )

In [35]:
categorical_missing = ["Married", "Dependents", "Self_Employed"]

In [36]:
imputer = SimpleImputer(strategy="most_frequent")

In [37]:
df[categorical_missing] = imputer.fit_transform(df[categorical_missing] )

In [38]:
df.isna().sum()

Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Split Input and Output

# Decision Tree

# Evaluation

# K-Folds Cross Validation